{% extends 'catalog/base.html' %}


{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <img src="/media/{{ object.image }}" class="img-thumbnail" alt="...">
        </div>
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h3 class="card-title">{{ object }}</h3>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ object.category }}</h6>
                    <h4 class="card-subtitle mb-2 text-body-secondary">{{ object.price }}$</h4>
                    <p class="card-text">{{ object.description }}</p>
                    <p class="card-text-shadow">{{ object.creation_date }}</p>
                    <p class="card-text-shadow">{{ object.last_changes_date }}</p>
                    <a class="p-2 btn btn-outline-primary" href="{% url 'version_detail' object.pk %}">Информация о версии продукта</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}