{% extends 'catalog/base.html' %}

{% block content %}
<form method="post" class="row">
    <div class="container">
        <div class="col-6">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Создать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    {{form.as_p}}
                {% if not forloop.last %}
                <hr>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}

